<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="notification arrow-up {{type}}"></div>
<div class="notification panel text-left">
    <ul class="col-md-12">
        <li class="row col-md-12" ng-repeat="anew in news">
            
            <div class="col-lg-3">
                <img src="uploads/20155/BryanRice/032f6f642cb64c61de69aed9e2da4c1b.png"/>
            </div>
            <div class="col-md-9">
                {{anew.text}}
            </div>
        </li>
    </ul>
</div>
